<%= image_tag @plug.image.url (:medium) %>

<p>
  <strong>Description:</strong>
  <%= @plug.description %>
</p>
<% if @plug.user == current_user %>
	<%= link_to 'Edit', edit_plug_path(@plug) %> |
<% end %>
<%= link_to 'Back', plugs_path %>
